<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Oficiona</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/et-line.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/css/plyr.css" />
    <link rel="stylesheet" href="assets/css/flag.css" />
    <link rel="stylesheet" href="assets/css/slick.css" /> 
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon-114x114.png">


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-xl absolute-nav transparent-nav cp-nav navbar-light bg-light fluid-nav">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.png" class="img-fluid" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto job-browse">
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Browse Jobs</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="search-by">
                  <h5>BY Category</h5>
                  <ul>
                    <li><a href="#">Accounting / Finance <span>(233)</span></a></li>
                    <li><a href="#">Education <span>(46)</span></a></li>
                    <li><a href="#">Design & Creative <span>(156)</span></a></li>
                    <li><a href="#">Health Care <span>(98)</span></a></li>
                    <li><a href="#">Engineer & Architects <span>(188)</span></a></li>
                    <li><a href="#">Marketing & Sales <span>(124)</span></a></li>
                    <li><a href="#">Garments / Textile <span>(584)</span></a></li>
                    <li><a href="#">Customer Support <span>(233)</span></a></li>
                  </ul>
                </li>
                <li class="search-by">
                  <h5>BY LOcation</h5>
                  <ul>
                    <li><a href="#">New York City <span>(508)</span></a></li>
                    <li><a href="#">Washington, D.C <span>(96)</span></a></li>
                    <li><a href="#">Chicago <span>(155)</span></a></li>
                    <li><a href="#">San Francisco <span>(24)</span></a></li>
                    <li><a href="#">Los Angeles <span>(268)</span></a></li>
                    <li><a href="#">Boston <span>(46)</span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto main-nav">
            <li class="menu-item active"><a title="Home" href="home-1.html">Home</a></li>
            <li class="menu-item dropdown">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Jobs</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a  href="job-listing.html">Job Listing</a></li>
                <li class="menu-item"><a  href="job-listing-with-map.html">Job Listing With Map</a></li>
                <li class="menu-item"><a  href="job-details.html">Job Details</a></li>
                <li class="menu-item"><a  href="post-job.html">Post Job</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Employer</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a  href="employer-listing.html">Employer Listing</a></li>
                <li class="menu-item"><a  href="employer-details.html">Employer Details</a></li>
                <li class="menu-item"><a  href="employer-dashboard.html">Dashboard</a></li>
                <li class="menu-item"><a  href="employer-dashboard-edit-profile.html">Edit Profile</a></li>
                <li class="menu-item"><a  href="employer-dashboard-manage-candidate.html">Manage Candidate</a></li>
                <li class="menu-item"><a  href="employer-dashboard-manage-job.html">Manage Job</a></li>
                <li class="menu-item"><a href="employer-dashboard-message.html">Message</a></li>
                <li class="menu-item"><a href="employer-dashboard-pricing.html">Pricing</a></li>
                <li class="menu-item"><a  href="employer-dashboard-post-job.html">Post Job</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Candidate</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a  href="candidate.html">Candidate List</a></li>
                <li class="menu-item"><a  href="candidate-details.html">Candidate Details</a></li>
                <li class="menu-item"><a  href="dashboard.html">Dashboard</a></li>
                <li class="menu-item"><a  href="dashboard-edit-profile.html">Edit Profile</a></li>
                <li class="menu-item"><a  href="add-resume.html">Add Resume</a></li>
                <li class="menu-item"><a  href="resume.html">Resume</a></li>
                <li class="menu-item"><a  href="edit-resume.html">Edit Resume</a></li>
                <li class="menu-item"><a  href="dashboard-bookmark.html">Bookmarked</a></li>
                <li class="menu-item"><a  href="dashboard-applied.html">Applied</a></li>
                <li class="menu-item"><a  href="dashboard-pricing.html">Pricing</a></li>
                <li class="menu-item"><a  href="dashboard-message.html">Message</a></li>
                <li class="menu-item"><a  href="dashboard-alert.html">Alert</a></li>
              </ul>
            </li>
            <li class="menu-item dropdown">
              <a title="" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Pages</a>
              <ul  class="dropdown-menu">
                <li class="menu-item"><a  href="about-us.html">About Us</a></li>
                <li class="menu-item"><a  href="blog.html">Blog</a></li>
                <li class="menu-item"><a  href="blog-grid.html">Blog Grid</a></li>
                <li class="menu-item"><a  href="blog-details.html">Blog Details</a></li>
                <li class="menu-item"><a  href="contact.html">Contact Us</a></li>
                <li class="menu-item"><a  href="pricing.html">Pricing</a></li>
                <li class="menu-item"><a  href="how-it-work.html">How It Works</a></li>
                <li class="menu-item"><a  href="faq.html">FAQ</a></li>
                <li class="menu-item"><a  href="checkout.html">Checkout</a></li>
                <li class="menu-item"><a  href="payment-complete.html">Payment Complete</a></li>
                <li class="menu-item"><a  href="invoice.html">Invoice</a></li>
                <li class="menu-item"><a  href="terms-and-condition.html">Terms And Condition</a></li>
                <li class="menu-item"><a href="404.html">404 Page</a></li>
                <li class="menu-item"><a href="login.html">Login</a></li>
                <li class="menu-item"><a href="register.html">Register</a></li>
              </ul>
            </li>
            <li class="menu-item post-job"><a title="Title" href="post-job.html"><i class="fas fa-plus"></i>Post a Job</a></li>
          </ul>
          <ul class="navbar-nav ml-auto account-nav">
            <li class="dropdown menu-item header-top-notification">
              <a href="#" class="notification-button"></a>
              
              <div class="notification-card">
                <div class="notification-head">
                  <span>Notifications</span>
                  <a href="#">Mark all as read</a>
                </div>
                <div class="notification-body">
                  <a href="home-2.html" class="notification-list">
                    <i class="fas fa-bolt"></i>
                    <p>Your Resume Updated!</p>
                    <span class="time">5 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-arrow-circle-down"></i>
                    <p>Someone downloaded resume</p>
                    <span class="time">11 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-check-square"></i>
                    <p>You applied for Project Manager <span>@homeland</span></p>
                    <span class="time">11 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-user"></i>
                    <p>You changed password</p>
                    <span class="time">5 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-arrow-circle-down"></i>
                    <p>Someone downloaded resume</p>
                    <span class="time">11 hours ago</span>
                  </a>
                </div>
                <div class="notification-footer">
                  <a href="#">See all notification</a>
                </div>
              </div>
            </li>
            <li class="menu-item login-popup"><button title="Title" type="button" data-toggle="modal" data-target="#exampleModalLong">Login</button></li>
            <li class="menu-item login-popup"><button title="Title" type="button" data-toggle="modal" data-target="#exampleModalLong2">Registration</button></li>
          </ul> 
        </div>
      </nav>
      <!-- Modal -->
      <div class="account-entry">
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i data-feather="user"></i>Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="#">
                  <div class="form-group">
                    <input type="email" placeholder="Email Address" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
                  <div class="more-option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Remember Me
                      </label>
                    </div>
                    <a href="#">Forget Password?</a>
                  </div>
                  <button class="button primary-bg btn-block">Login</button>
                </form>
                <div class="shortcut-login">
                  <span>Or connect with</span>
                  <div class="buttons">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                    <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                  </div>
                  <p>Don't have an account? <a href="#">Register</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i data-feather="edit"></i>Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="account-type">
                  <label for="idRegisterCan">
                    <input id="idRegisterCan" type="radio" name="register">
                    <span>Candidate</span>
                  </label>
                  <label for="idRegisterEmp">
                    <input id="idRegisterEmp" type="radio" name="register">
                    <span>Employer</span>
                  </label>
                </div>
                <form action="#">
                  <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="email" placeholder="Email Address" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                  </div>
                  <div class="more-option terms">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                      <label class="form-check-label" for="defaultCheck2">
                        I accept the <a href="#">terms & conditions</a>
                      </label>
                    </div>
                  </div>
                  <button class="button primary-bg btn-block">Register</button>
                </form>
                <div class="shortcut-login">
                  <span>Or connect with</span>
                  <div class="buttons">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                    <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                  </div>
                  <p>Already have an account? <a href="#">Login</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->
    
    <!-- Banner -->
    <div class="banner banner-4 banner-4-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content">
              <h1>The Easiest Way to Find Job</h1>
              <p> Find Jobs, Employment & Career Opportunities</p>

              <div class="banner-search">
                <form action="#" class="search-form">
                  <input type="text" placeholder="Enter Keywords">
                  <select class="selectpicker" id="search-location">
                    <option value="" selected>Location</option>
                    <option value="california">California</option>
                    <option value="las-vegas">Las Vegas</option>
                    <option value="new-work">New Work</option>
                    <option value="carolina">Carolina</option>
                    <option value="chicago">Chicago</option>
                    <option value="silicon-vally">Silicon Vally</option>
                    <option value="washington">Washington DC</option>
                    <option value="neveda">Neveda</option>
                  </select>
                  <button class="button primary-bg"><i class="fas fa-search"></i>Search Job</button>
                </form>
                <div class="trending-key">
                  <span>Trending Keywords:</span>
                  <a href="#">designer</a>
                  <a href="#">php</a>
                  <a href="#">ios</a>
                  <a href="#">Android</a>
                  <a href="#">Accounting</a>
                  <a href="#">Management</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Explore Job -->
    <div class="section-padding-top padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header">
              <h2>Explore The Right Job</h2>
              <p>Some key info for find job easily</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="explore-job">
              <div class="explore-job-header">
                <h5 class="title">TOP Category</h5>
                <i data-feather="bookmark"></i>
              </div>
              <div class="key-info">
                <ul>
                  <li><a href="job-listing.html">Accounting / Finance<span>(233)</span></a></li>
                  <li><a href="job-listing.html">Education<span>(46)</span></a></li>
                  <li><a href="job-listing.html">Design &amp; Creative<span>(156)</span></a></li>
                  <li><a href="job-listing.html">Health Care<span>(98)</span></a></li>
                  <li><a href="job-listing.html">Engineer &amp; Architects<span>(584)</span></a></li>
                  <li><a href="job-listing.html">Marketing &amp; Sales<span>(188)</span></a></li>
                  <li><a href="job-listing.html">Garments / Textile<span>(124)</span></a></li>
                  <li><a href="job-listing.html">Customer Support<span>(15)</span></a></li>
                  <li><a href="job-listing.html">Accounting / Finance<span>(233)</span></a></li>
                  <li><a href="job-listing.html">Education<span>(46)</span></a></li>
                  <li><a href="job-listing.html">Design &amp; Creative<span>(156)</span></a></li>
                  <li><a href="job-listing.html">Health Care<span>(98)</span></a></li>
                  <li><a href="job-listing.html">Engineer &amp; Architects<span>(584)</span></a></li>
                  <li><a href="job-listing.html">Marketing &amp; Sales<span>(188)</span></a></li>
                  <li><a href="job-listing.html">Garments / Textile<span>(124)</span></a></li>
                  <li><a href="job-listing.html">Customer Support<span>(15)</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="explore-job">
              <div class="explore-job-header">
                <h5 class="title">TOP Cities</h5>
                <i data-feather="map-pin"></i>
              </div>
              <div class="key-info">
                <ul>
                  <li><a href="job-listing.html">New York<span>(233)</span></a></li>
                  <li><a href="job-listing.html">Los Angeles<span>(46)</span></a></li>
                  <li><a href="job-listing.html">California<span>(156)</span></a></li>
                  <li><a href="job-listing.html">Chicago<span>(98)</span></a></li>
                  <li><a href="job-listing.html">Illinois<span>(584)</span></a></li>
                  <li><a href="job-listing.html">Houston<span>(188)</span></a></li>
                  <li><a href="job-listing.html">Phoenix<span>(124)</span></a></li>
                  <li><a href="job-listing.html">Texas<span>(15)</span></a></li>
                  <li><a href="job-listing.html">Arizona<span>(233)</span></a></li>
                  <li><a href="job-listing.html">Philadelphia<span>(46)</span></a></li>
                  <li><a href="job-listing.html">Pennsylvania<span>(156)</span></a></li>
                  <li><a href="job-listing.html">San Antonio<span>(98)</span></a></li>
                  <li><a href="job-listing.html">San Diego<span>(584)</span></a></li>
                  <li><a href="job-listing.html">Dallas<span>(188)</span></a></li>
                  <li><a href="job-listing.html">San Jose<span>(124)</span></a></li>
                  <li><a href="job-listing.html">Austin<span>(15)</span></a></li>
                  <li><a href="job-listing.html">Jacksonville<span>(25)</span></a></li>
                  <li><a href="job-listing.html">Florida<span>(53)</span></a></li>
                  <li><a href="job-listing.html">San Francisco<span>(74)</span></a></li>
                  <li><a href="job-listing.html">Columbus<span>(26)</span></a></li>
                  <li><a href="job-listing.html">Ohio<span>(58)</span></a></li>
                  <li><a href="job-listing.html">Indianapolis<span>(96)</span></a></li>
                  <li><a href="job-listing.html">Indiana<span>(123)</span></a></li>
                  <li><a href="job-listing.html">Fort Worth<span>(42)</span></a></li>
                  <li><a href="job-listing.html">Charlotte<span>(71)</span></a></li>
                  <li><a href="job-listing.html">North Carolina<span>(19)</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="explore-job">
              <div class="explore-job-header">
                <h5 class="title">TOP Companies</h5>
                <i data-feather="briefcase"></i>
              </div>
              <div class="key-info">
                <ul>
                  <li><a href="job-listing.html">Digoin<span>(233)</span></a></li>
                  <li><a href="job-listing.html">Orion Ltd.<span>(46)</span></a></li>
                  <li><a href="job-listing.html">RealHouse<span>(156)</span></a></li>
                  <li><a href="job-listing.html">BioPro Phrma<span>(98)</span></a></li>
                  <li><a href="job-listing.html">Homeland<span>(584)</span></a></li>
                  <li><a href="job-listing.html">Realouse<span>(188)</span></a></li>
                  <li><a href="job-listing.html">Healthyete<span>(124)</span></a></li>
                  <li><a href="job-listing.html">Theoreo<span>(15)</span></a></li>
                  <li><a href="job-listing.html">Homeland<span>(584)</span></a></li>
                  <li><a href="job-listing.html">Realouse<span>(188)</span></a></li>
                  <li><a href="job-listing.html">Healthyete<span>(124)</span></a></li>
                  <li><a href="job-listing.html">Theoreo<span>(15)</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Explore Job End -->

    <!-- Jobs -->
    <div class="section-padding alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header section-header-2 section-header-with-right-content">
              <h2>Recent Jobs</h2>
              <a href="job-listing.html" class="header-right">+ Browse All Jobs</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Designer Required</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2020</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Project Manager</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2020</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2020</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2020</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">UI Designer</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2020</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="job-details.html">Land Development Marketer</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                    <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button" data-toggle="modal" data-target="#apply-popup-id">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2020</p>
                </div>
              </div>
            </div>
            <div class="apply-popup">
              <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="#">
                        <div class="form-group">
                          <input type="text" placeholder="Full Name" class="form-control">
                        </div>
                        <div class="form-group">
                          <input type="email" placeholder="Email Address" class="form-control">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group file-input-wrap">
                          <label for="up-cv">
                            <input id="up-cv" type="file">
                            <i data-feather="upload-cloud"></i>
                            <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                          </label>
                        </div>
                        <div class="more-option">
                          <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                          <label for="radio-4">
                            <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                          </label>
                        </div>
                        <button class="button primary-bg btn-block">Apply Now</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jobs End -->

    <!-- Fun Facts -->
    <div class="padding-top-90 padding-bottom-60 fact-bg">
      <div class="container">
        <div class="row fact-items">
          <div class="col-md-3 col-sm-6">
            <div class="fact">
              <div class="fact-icon">
                <i data-feather="briefcase"></i>
              </div>
              <p class="fact-number"><span class="count" data-form="0" data-to="12376"></span></p>
              <p class="fact-name">Live Jobs</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="fact">
              <div class="fact-icon">
                <i data-feather="users"></i>
              </div>
              <p class="fact-number"><span class="count" data-form="0" data-to="89562"></span></p>
              <p class="fact-name">Candidate</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="fact">
              <div class="fact-icon">
                <i data-feather="file-text"></i>
              </div>
              <p class="fact-number"><span class="count" data-form="0" data-to="28166"></span></p>
              <p class="fact-name">Resume</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="fact">
              <div class="fact-icon">
                <i data-feather="award"></i>
              </div>
              <p class="fact-number"><span class="count" data-form="0" data-to="1366"></span></p>
              <p class="fact-name">Companies</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fun Facts End -->

    <!-- Testimonial -->
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonial">
              <div class="testimonial-quote">
                <img src="images/testimonial/quote.png" class="img-fluid" alt="">
              </div>
              <div class="testimonial-for">
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob One”</p>
                  <h5>Maria Marlin @ Google</h5>
                </div>
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                  <h5>Laura Harper @ Amazon</h5>
                </div>
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                  <h5>John Doe @ Envato</h5>
                </div>
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Four”</p>
                  <h5>Jenny Doe @ Dribbble</h5>
                </div>
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Five”</p>
                  <h5>Michle Clark @ Apple</h5>
                </div>
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                  <h5>Laura Harper @ Amazon</h5>
                </div>
                <div class="testimonial-item">
                  <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                  <h5>John Doe @ Envato</h5>
                </div>
              </div>
              <div class="testimonial-nav">
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-1.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/1.png" class="comapnyLogo" alt="">
                </div>
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/2.png" class="comapnyLogo" alt="">
                </div>
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/3.png" class="comapnyLogo" alt="">
                </div>
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-4.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/4.png" class="comapnyLogo" alt="">
                </div>
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-5.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/5.png" class="comapnyLogo" alt="">
                </div>
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/2.png" class="comapnyLogo" alt="">
                </div>
                <div class="commenter-thumb">
                  <img src="images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                  <img src="images/testimonial/3.png" class="comapnyLogo" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Career Advice -->
    <div class="padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header">
              <h2>Career Advice</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <article class="blog-grid">
              <div class="body">
                <span class="date">22 <span>Dec</span></span>
                <h3><a href="blog-details.html">Who chooses to enjoy a pleasure</a></h3>
                <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which</p>
              </div>
              <div class="info">
                <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                <span class="comments"><a href="#"><i data-feather="message-circle"></i>42</a></span>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="blog-grid">
              <div class="body">
                <span class="date">22 <span>Dec</span></span>
                <h3><a href="blog-details.html">Who chooses to enjoy a pleasure</a></h3>
                <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which</p>
              </div>
              <div class="info">
                <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                <span class="comments"><a href="#"><i data-feather="message-circle"></i>42</a></span>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="blog-grid">
              <div class="body">
                <span class="date">22 <span>Dec</span></span>
                <h3><a href="blog-details.html">Who chooses to enjoy a pleasure</a></h3>
                <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which</p>
              </div>
              <div class="info">
                <span class="author"><a href="#"><i data-feather="user"></i>Robert Karlos</a></span>
                <span class="comments"><a href="#"><i data-feather="message-circle"></i>42</a></span>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!-- Career Advice End -->

    <!-- App Download -->
    <div class="padding-top-90 padding-bottom-90 app-download-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="app-download">
              <h2>Get Oficiona App</h2>
              <p>Searching for jobs never been that easy. Now you can find job matched your career expectation</p>
              <div class="app-download-button">
                <a href="#" class="apple-app">Apple Store</a>
                <a href="#" class="android-app">Google Play</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- App Download End -->

    <!-- Footer -->
    <footer class="footer-bg">
      <div class="footer-top border-bottom section-padding-top padding-bottom-40">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="footer-logo">
                <a href="#">
                  <img src="images/footer-logo.png" class="img-fluid" alt="">
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-social">
                <ul class="social-icons">
                  <li><a href="#"><i data-feather="facebook"></i></a></li>
                  <li><a href="#"><i data-feather="twitter"></i></a></li>
                  <li><a href="#"><i data-feather="linkedin"></i></a></li>
                  <li><a href="#"><i data-feather="instagram"></i></a></li>
                  <li><a href="#"><i data-feather="youtube"></i></a></li>
                </ul>
                <select class="selectpicker select-language" id="select-country">
                  <option value="United States of America" selected>EN</option>
                  <option value="United Kingdom">GB</option>
                  <option value="Spain">ES</option>
                  <option value="Portugal">PT</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-shortcut-link">
                <h4>Information</h4>
                <div class="widget-inner">
                  <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-shortcut-link">
                <h4>Job Seekers</h4>
                <div class="widget-inner">
                  <ul>
                    <li><a href="#">Create Account</a></li>
                    <li><a href="#">Career Counseling</a></li>
                    <li><a href="#">My Oficiona</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Video Guides</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="footer-widget footer-shortcut-link">
                <h4>Employers</h4>
                <div class="widget-inner">
                  <ul>
                    <li><a href="#">Create Account</a></li>
                    <li><a href="#">Products/Service</a></li>
                    <li><a href="#">Post a Job</a></li>
                    <li><a href="#">FAQ</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-sm-6">
              <div class="footer-widget footer-newsletter">
                <h4>Newsletter</h4>
                <p>Get e-mail updates about our latest news and Special offers.</p>
                <form action="#" class="newsletter-form form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email address...">
                  </div>
                  <button class="btn button primary-bg">Submit<i class="fas fa-caret-right"></i></button>
                  <p class="newsletter-error">0 - Please enter a value</p>
                  <p class="newsletter-success">Thank you for subscribing!</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom-area">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="footer-bottom border-top">
                <div class="row">
                  <div class="col-lg-6">
                    <p class="copyright-text">Copyright <a href="#">Oficiona</a> 2020, All right reserved</p>
                  </div>
                  <div class="col-lg-6">
                    <div class="back-to-top">
                      <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.nstSlider.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/tinymce.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="js/map.js"></script>
  </body>
</html>