<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Oficiona</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/et-line.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/css/plyr.css" />
    <link rel="stylesheet" href="assets/css/flag.css" />
    <link rel="stylesheet" href="assets/css/slick.css" /> 
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:100,300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon-114x114.png">


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="alice-bg section-padding">
      <div class="container">
        <div class="row justify-content-lg-center">
          <div class="col-lg-8">
            <div class="invoice-wrap">
              <div class="invoice">
                <div class="invoice-header">
                  <div class="logo-area">
                    <img src="images/logo.png" class="img-fulid" alt="">
                  </div>
                  <div class="title">
                    <span>I</span>
                    <span>N</span>
                    <span>V</span>
                    <span>O</span>
                    <span>I</span>
                    <span>C</span>
                    <span>E</span>
                  </div>
                </div>
                <div class="invoice-info">
                  <div class="left-info">
                    <h6>Invoice To</h6>
                    <span class="name">Roberto Carlos</span>
                    <p>320 Rainbow Building, Van Quan Ha Dong, New York City, N.Y.</p>
                  </div>
                  <div class="right-info">
                    <ul>
                      <li><span class="title">Invoice#</span><span>4569</span></li>
                      <li><span class="title">Date</span><span>22 / 12 / 2020</span></li>
                    </ul>
                  </div>
                </div>
                <div class="invoice-table">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">VAT(15%)</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Starter Plan</td>
                        <td>$22.00</td>
                        <td>$5.00</td>
                        <td>$27.00</td>
                      </tr>
                      <tr>
                        <td>Starter Plan</td>
                        <td>$22.00</td>
                        <td>$5.00</td>
                        <td>$27.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="invoice-footer">
                  <div class="invoice-by">
                    <h4>Invoice By</h4>
                    <h6 class="name">Oficiona LTD.</h6>
                    <p>438 Rathdowne Road Carlton, Victoria 3001</p>
                    <div class="invoice-contact">
                      <span>support@yourmail.com</span>
                      <span>+99 125 4827 22</span>
                      <span><a href="#">www.Oficiona.com</a></span>
                    </div>
                  </div>
                  <div class="bill">
                    <ul>
                      <li><span class="title">Subtotal</span><span>$22.00</span></li>
                      <li><span class="title">VAT</span><span>15%</span></li>
                    </ul>
                    <div class="total">
                      <span>Total</span>
                      <span>$27.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="invoice-print">
                <a href="#"><i data-feather="printer"></i>Print Invoice</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.nstSlider.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/visible.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/plyr.js"></script>
    <script src="assets/js/tinymce.min.js"></script>
    <script src="assets/js/tinymce.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="js/map.js"></script>

  </body>
</html>